html {
    width: 300px;
    height: 300px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1f97f9;
  }

h1{
    color: white;
    text-align: center;
    margin: 20px;
}

h2{
    margin-bottom: 0px;
    margin-left: 10%;
    color: white;
}

.content{
    max-width: 300px;
    margin: auto;
}

.kleurwiel{
    /* background-color: blue; */
    overflow: auto;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.margin{
    margin: 10px;
    width: 60px;
}

